{% include head.html %}

<body>
  <div class="container">
    {% include navbar.html %}
    <div class="card border-0 text-white">
      <div class="box">
        <img src="{{ page.img_url }}" class="img-fluid rounded-lg" alt="{{ page.title }}">
      </div>
      <div class="card-img-overlay">
        <h1 class="text_left font-weight-bold">{{ page.title }}</h1>
      </div>
    </div>
    <H2 class="text-muted py-2">{{ page.subtitle }}</H2>
    {{ page.content }}

    <!-- template to display the list of alumnus cards -->
    {% include alumniList.html site=site page=page %}

    <h4 id="list-item-5">Website</h4>
    <p>
      For more info visit <a href="{{ page.info_url }}">https://www.nyureu.org/</a>
    </p>


  </div>
  {% include footer.html %}
</body>

</html>
